@import-normalize;

/* bring in normalize.css styles */

@media screen and (max-width: 1280px) {
  html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
}

html.disable-fix {
  overflow-x: initial;
  margin-right: initial;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}